{% load humanize %}
{% load mathfilters %}
{% block content %}

<div class="container">
    <div class="jumbotron"  style="margin-top: 70px;">
        {% for cust in customers %}
            {% if cust.cust_number == customer.cust_number %}
                <h1 class="display-4 text-center text-black">{{customer.name}} Portfolio</h1>
                <h6 class="display-4 text-center text-black">Customer ID: #{{ customer.cust_number }}</h6>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Portfolio Performance</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Initial Investments</th>
                <th>Current Investments</th>
                <th>Grand Total Results</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>${{ sum_acquired_value|add:sum_of_initial_stock_value|floatformat:2|intcomma}}</td>
                    <td>${{ sum_recent_value|add:sum_current_stocks_value|floatformat:2|intcomma}}</td>
                    <td>${{sum_recent_value|add:sum_current_stocks_value|sub:sum_acquired_value|add:sum_of_initial_stock_value|floatformat:2|intcomma }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h1>Passive Income Performance</h1>
    <table class="table table-hover table-striped text-center ">
        <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Acquired Value</th>
                <th>Acquired Date</th>
                <th>Monthly Cost</th>
                <th>Monthly Profit</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            {% for passive in passives %}
            <tr>
                <td>{{ passive.category|upper }}</td>
                <td>{{ passive.description }}</td>
                <td>${{ passive.acquired_value|floatformat:2|intcomma }}</td>
                <td>{{ passive.acquired_date }}</td>
                <td>${{ passive.monthly_cost|floatformat:2|intcomma}}</td>
                <td>${{ passive.monthly_profit|floatformat:2|intcomma }}</td>
                {% if passive.monthly_cost < passive.monthly_profit %}
                <td class="text-success">${{passive.monthly_profit|sub:passive.monthly_cost|floatformat:2|intcomma }}</td>
                {% else %}
                <td class="text-danger">${{passive.monthly_cost|sub:passive.monthly_profit|floatformat:2|intcomma }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h1>Stock Performance</h1>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Initial Stock Price</th>
                <th>Initial Stock Value</th>
                <th>Current Stock Price</th>
                <th>Current Stock Value</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol|upper }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares|intcomma }}</td>
                <td>${{ stock.purchase_price|intcomma }}</td>
                <td>${{ stock.initial_stock_value|floatformat:2|intcomma}}</td>
                <td>${{ stock.current_stock_price|floatformat:2|intcomma }}</td>
                <td>${{ stock.current_stock_value|floatformat:2|intcomma }}</td>
                {% if stock.initial_stock_value < stock.current_stock_value|sub:stock.initial_stock_value %}
                <td class="text-success">${{stock.current_stock_value|sub:stock.initial_stock_value|floatformat:2|intcomma }}</td>
                {% else %}
                <td class="text-danger">${{stock.current_stock_value|sub:stock.initial_stock_value|floatformat:2|intcomma }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table class="table table-hover table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Total of Initial Stocks</th>
                <th>Total of Current Stocks</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{ sum_of_initial_stock_value|floatformat:2|intcomma }}</td>
                <td>${{ sum_current_stocks_value|floatformat:2|intcomma }}</td>
                {% if sum_of_initial_stock_value < sum_current_stocks_value|sub:sum_of_initial_stock_value %}
                <td class="text-success">${{ sum_current_stocks_value|sub:sum_of_initial_stock_value|floatformat:2|intcomma }}</td>
                {% else %}
                <td class="text-danger">${{ sum_current_stocks_value|sub:sum_of_initial_stock_value|floatformat:2|intcomma }}</td>
                {% endif %}
            </tbody>
    </table>
    <br>
    <h1>Investment Performance</h1>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Acquired Value</th>
                <th>Acquired Date</th>
                <th>Recent Value</th>
                <th>Recent Date</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            {% for investment in investments %}
            <tr>
                <td>{{ investment.category|upper }}</td>
                <td>{{ investment.description }}</td>
                <td>${{ investment.acquired_value|floatformat:2|intcomma }}</td>
                <td>{{ investment.acquired_date }}</td>
                <td>${{ investment.recent_value|floatformat:2|intcomma}}</td>
                <td>{{ investment.recent_date }}</td>
                {% if investment.acquired_value < investment.recent_value|sub:investment.acquired_value %}
                <td class="text-success">${{investment.recent_value|sub:investment.acquired_value|floatformat:2|intcomma }}</td>
                {% else %}
                <td class="text-danger">${{investment.recent_value|sub:investment.acquired_value|floatformat:2|intcomma }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Total of Initial Investments</th>
                <th>Total of Current Investments</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{ sum_acquired_value|floatformat:2|intcomma }}</td>
                <td>${{ sum_recent_value|floatformat:2|intcomma }}</td>
                {% if sum_acquired_value < sum_recent_value|sub:sum_acquired_value %}
                <td class="text-success">${{ sum_recent_value|sub:sum_acquired_value|floatformat:2|intcomma }}</td>
                {% else %}
                <td class="text-danger">${{ sum_recent_value|sub:sum_acquired_value|floatformat:2|intcomma }}</td>
                {% endif %}
            </tbody>
    </table>

</div>
{% endblock %}